*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'vazir';
    outline: none;
}

a{
    text-decoration: none;
}
body{
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
@font-face {
    font-family: Vazir ;
    src: url('../../vazir/Vazir-Bold.eot');
    src: url('../../vazir/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../vazir/') format('woff2'),
         url('../../vazir/Vazir-Regular.woff') format('woff'),
         url('../../vazir/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.my-container{
    width: calc(100% - 2rem);
    margin: auto;
    display: flex;
}
.dark body{
    background-image: url(../assets/bg-dark.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.dark .darkmode-text{
    color: #fff;
}


/* ityped styles */
.ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}
 
@keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}

@media (min-width:576px) {
 
}
