*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'vazir';
    outline: none;
}

a{
    text-decoration: none;
}
body{
    background-image: url(../assets/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
@font-face {
    font-family: Vazir ;
    src: url('../../vazir/Vazir-Bold.eot');
    src: url('../../vazir/Vazir-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../vazir/') format('woff2'),
         url('../../vazir/Vazir-Regular.woff') format('woff'),
         url('../../vazir/Vazir-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.my-container{
    width: calc(100% - 2rem);
    margin: auto;
    display: flex;
}
.dark body{
    background-image: url(../assets/bg-dark.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.dark .darkmode-text{
    color: #fff;
}


/* ityped styles */
.ityped-cursor {
    font-size: 2.2rem;
    opacity: 1;
    -webkit-animation: blink 0.3s infinite;
    -moz-animation: blink 0.3s infinite;
    animation: blink 0.3s infinite;
    animation-direction: alternate;
}
 
@keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-webkit-keyframes blink {
    100% {
        opacity: 0;
    }
}
 
@-moz-keyframes blink {
    100% {
        opacity: 0;
    }
}
/* count down */
.countdown-element{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    align-items: center;
    border: #fff solid 2px;
    border-radius: 5px;
    padding: 10px;
    width: 60px;
    background-color: rgba(240, 240, 240, 0.7);
}
.dark .countdown-element{
    background-color: transparent;
}
.messengers div{
    background-color: rgba(240, 240, 240, 0.2);
    transition: all 0.5s;
}
.messengers div:hover{
    background-color: rgba(0, 51, 255, 0.5);
    cursor: pointer;
    transform: rotateZ(360deg);
}
.contact-us-header{
    background-color: rgba(240, 240, 240, 0.2);
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
}
.contact-us-header::after{
    content: '';
    width: 7rem;
    border-radius: 5px;
    margin-top: 8px;
    height: 0.3rem;
    display: block;
    background-color: rgba(240, 240, 240, 0.7);

}
.contact-us .card{
    border-top: 4px solid #0d6efd;
    border-bottom: 4px solid #0d6efd;
    padding: 30px;
    border-radius: 0.25rem;
    background: rgba(255, 255, 255, 0.06);
    width: 100%;
    box-shadow: 0 0 24px 0 rgb(0 0 0 / 12%);
}

.contact-us .card i {
    font-size: 20px;
    color: #fff;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    transition: all 0.3s;
}

.contact-us .card i:hover {
  background: #0d6efd;
  border-color: #0d6efd;
  color: #fff;
}
#map { height: 325px; }


.lh-0{
    line-height: 0;
}
@media (min-width:576px) {
 
}
